#profile-picture {
    position: absolute;
    width: 200px;
    height: 300px;
    margin-top: 1em;
}

#greeting {
    text-align: center;
}

#main-content p {
    text-align: justify;
    margin: 0.9em 0 0.9em 230px;
    font-family: "Palatino Linotype", serif;
    font-weight: 100;
    color: #555;
}

#main-content .about-norwegian {
    font-size: 1.05em;
    font-style: italic;
}

#main-content .about-norwegian .first-paragraph {
    margin-top: 2em;
}

@media (max-width: 540px) {
    #profile-picture {
        display: none;
    }

    #main-content p {
        margin: 0.9em 0;
    }
}
