#profile-picture {
    position: absolute;
    width: 200px;
    height: 300px;
    margin-top: 1em;
}

#main-content p {
    text-align: justify;
    margin: 1em 0 1em 230px;
}

#greeting {
    text-align: center;
}

p {
    font-family: "Roboto+Slab", sans-serif;
    font-weight: 100;
}

.about-spanish {
    font-style: italic;
}

#main-content .about-spanish.first-paragraph {
    margin-top: 2em;
}
