@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300|Roboto+Condensed:300|Roboto+Slab:100);

body, html {
    margin: 0;
    background-color: #EDF4F3;
}

#page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 0 0 1em gray;
    background-color: white;
}

menu {
    margin: 0;
}

header {
    padding: 0.5em 0;
    position: relative;
}

header .social-network-links {
    padding: 0;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

header .social-network-links > li {
    display: inline-block;
    padding: 3px;
}

header .social-network-links > li img {
    width: 18px;
}

#header-navigation {
    display: table;
    min-width: 50%;
    margin: 0 auto;
}

#header-navigation > ul {
    display: table-row;
    margin: 0;
    padding: 0;
}

#header-navigation li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.nav-link {
    display: inline-block;
    width: 100%;
    padding: 0.6em 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-bottom: 1px solid lightgray;
}

.nav-link:hover {
    color: pink;
    border-color: pink;
}

#logo {
    margin: 20px 0;
    text-align: center;
}

#main-content {
    min-height: 700px;
    padding: 0 135px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

footer {
    padding: 1em 0;
    text-align: center;
    clear: both;
    color: gray;
    font-size: 0.75em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

footer > p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#footer-ribbon {
    width: 100%;
}

@media (max-width: 1024px) {
    #main-content {
        padding: 0 20px;
    }
}

@media (max-width: 540px) {
    header .social-network-links {
        display: none;
    }
}
