body, html {
    margin: 0;
    background-color: #EDF4F3;
}

#page-wrapper {
    width: 1100px;
    margin: 0 auto;
    box-shadow: 0 0 1em gray;
    background-color: white;
}

header {
    padding: 0.5em 0;
}

menu {
    margin: 0;
}

#social-networks {
    margin: 10px 10px 0 0; 
    padding: 0;
    text-align: right;
}

#social-networks > li {
    display: inline-block;
    padding: 2px;
}

#social-networks li img {
    width: 30px;
}

#header-navigation {
    display: table;
    width: 60%;
    margin: 0 auto;
}

#header-navigation > ul {
    display: table-row;
    margin: 0;
    padding: 0;
}

#header-navigation li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#nav-logo {
    width: 161px;
    height: 161px;
    background-image: url('../images/logon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link {
    display: inline-block;
    width: 100%;
    padding: 0.6em 0;
    font-family: 'Kite One', inherit, sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-bottom: 1px solid lightgray;
}

#main-content {
    min-height: 700px;
}

#slider {
    width: 830px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('../images/portada.jpg');
}

#social {
    list-style: none;
    text-align: center;
}

#social ul {
    padding: 0;
}

#social ul li {
    display: inline-block;
    margin: 10px;
}

#social img {
    width: 260px;
    height: 200px;
}

h1 {
    padding-left: 3em;
    padding-top: 2em;
    font-size: 16px;
    font-family: 'Kite One', sans-serif;
}

footer {
    padding: 1em 0;
    text-align: center;
    background-color: #F0F0F0;
    clear: both;
    border-top: dotted 1px gray;
    font-size: 0.8em;
}
