h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#about-contact {
    position: absolute;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#img-contact {
    width: 300px;
    height: 300px;
    margin-top: 1em;
}

form {
    margin-left: 420px;
}

#thank-you {
    font-weight: 300;
    text-align: center;
    margin-top: 6em;
}

input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px dashed #aaa;
    font-family: inherit;
    font-size: 1.2em;
    color: gray;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: small;
    resize: none;
}

input[type="submit"] {
    display: block;
    margin: auto auto;
    width: 100px;
}
