
#slider {
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* The images inside the slider need to adapt */
.owl-item img {
    width: 100%;
}

#heart {
    margin: 30px auto;
    display: block;
    max-width: 100%;
}

#social {
    list-style: none;
    text-align: center;
}

#social ul {
    padding: 0;
}

#social ul li {
    display: inline-block;
    margin: 7px;
}

#social img {
    width: 260px;
    height: 200px;
}
