body, html {
    margin: 0;
}

#page-wrapper {
    width: 1100px;
    margin: 0 auto;
    box-shadow: 0 0 1em gray;
}

#header-navigation {
    background-color: lightblue;
    text-align: center;
}

#header-navigation > ul {
    margin: 0;
    padding: 0;
}

#header-navigation li {
    display: inline-block;
    font-family: sans-serif;
    padding: 75px 60px;
}

#main-content {
    padding-top: 2em;
}

#slider {
    width: 435px;
    height: 400px;
    margin: 0 auto;
    background-color: purple;
}

#social-networks {
    margin: 1em 0;
    padding: 0;
}

#social-networks > li {
    display: inline-block;
    padding: 40px;
}

footer {
    padding: 1em 0;
    text-align: center;
    background-color: lightyellow;
}
